body {
    font-family: "Tahoma", sans-serif;
    margin: 0;
    background: #0e0e0e;
    color: #d9d9d9;
}

header {
    background: #000;
    padding: 20px;
    border-bottom: 2px solid #c9a34a;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #c9a34a;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

.nav-links a:hover {
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    border-top: 1px solid #c9a34a;
    font-size: 14px;
}

/* HERO SECTION */
.hero {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.hero img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 4px solid #c9a34a;
    object-fit: cover;
    background: #222;
}

.hero-text h1 {
    font-size: 38px;
    color: #c9a34a;
}

.hero-text p {
    font-size: 17px;
    line-height: 1.7;
}

/* CONTENT CARD */
.card {
    max-width: 1000px;
    background: #111;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    border: 1px solid #c9a34a;
}

.card h2 {
    color: #c9a34a;
}

.card p, li {
    line-height: 1.8;
}
